.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
test_folder/
*.pyc
null/
.nf-test.log
.nf-test/
.github/workflows/fix_linting.yml
.github/workflows/linting.yml
.github/workflows/linting_comment.yml
.github/workflows/template-version-comment.yml
