/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    DecoNFlow Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    // Input options
    input                       = null                    // reference samples .csv sheet
    ref_matrix                  = null
    merged_matrix               = null

    // Custom options
    DMRselection                = null
    regions                     = null                    // file containing the regions to be used in the custom DMRselection
    outdir                      = null                    // output directory
    help                        = false
    version                     = false
    save_intermeds              = false
    benchmark                   = false
    epidish                     = false
    methyl_resolver             = false
    episcore                    = false
    prmeth                      = false
    prmeth_rf                   = false
    medecom                     = false
    celfie                      = false
    meth_atlas                  = false
    cibersort                   = false
    uxm                         = false
    metdecode                   = false

    // Preprocessing options
    min_counts                  = 10                // minimum number of counts for each CpG position
    min_cpgs                    = 3                 // minimum number of CpGs per region
    big_covs                    = false
    genome_order                = null

    // Ref-free preprocessing
    refree_min_cpgs             = 3                 // minimum number of CpGs per region
    refree_min_counts           = 10                // minimum number of counts for each CpG position

    // DMR analysis options
    adjp                        = 0.001             // Adjusted p-value threshold
    collapse_method             = 'mean'            // How collapsing the samples values for each region
    direction                   = 'both'            // Direction of methylation: can be either "hypo","hyper","both" or "random" (def. "both")
    top                         = 250               // Take the top x number (integer) of DMRs per cell state (def. 250): it can be used only if direction flag is specified
    delta                       = 0.1               // Threshold for calling DMRs (default: 0.1)
    // limma options
    adj_method                  = 'BH'              // Multiple testing correction method (def. "BH") among the ones available in limma R package
    // DMRfinder options
    dmrfinder_pvalue            = 0.05              // Maximum p-value (default: 0.05)
    dmrfinder_qvalue            = 0.05              // Maximum q-value (default: 0.05)
    // wgbs_tools options
    ref_bams                    = null              // File (.csv) containing paths to bam files for the reference matrix
    fasta                       = null              // path to fasta file of the genome
    genome                      = 'hg19'            // genome name
    max_bp                      = 2000              // max bp length of the blocks
    min_cpg_uxm                 = 3                 // minimum number of CpGs for the blocks
    groups_file                 = null              // File (.csv) of the groups
    rlen                        = 3                 // minimal CpGs per read required to consider the read
    only_hypo                   = false             // take only hypomethylated markers

    // Test preprocessing options
    test_set                    = null              // .csv file with the name of the samples to deconvolve and the path to the coverage files

    // EpiDISH parameters
    mod                         = 'RPC'             // EpiDISH deconvolution modality [RPC, CBS, CP_ineq, CP_eq]

    // MethylResolver parameters
    alpha                       = 0.5               // alpha parameter used by the model (can go from 0.5 to 0.9)

    // EpiSCORE parameters
    weight                      = 0.4               // weight parameter for deconvolution (can go from 0.05 to 0.9)

    // Ref-Free parameters
    clusters                    = 2                 // Number of cell types expected (necessary for ref-free modality)

    // PRMeth parameters
    prmeth_mod                  = 'QP'              // PRMeth deconv modality ['QP', 'NMF'] (ref-based, partial ref-based)
    prmeth_NMF_entities         = 3                 // PRMeth number of entities when using NMF

    // MeDeCom parameters
    ninit                       = 10                // Number of random initializations (def. 10)
    nfold                       = 10                // Number of folds for CV (def. 10)
    itermax                     = 300               // Max number of iterations (def. 300)

    // CelFiE parameters
    celfie_maxiter              = 1000              // How long the EM should iterate before stopping, unless convergence criteria is met
    unknown                     = 0                 // Number of unknown categories to be estimated along with the reference data
    parall_job                  = 1                 // Replicate number in a simulation experiment
    converg                     = 0.0001            // Convergence criteria for EM
    celfie_randrest             = 10                // CelFiE will perform several random restarts and select the one with the highest log-likelihood

    // UXM parameters
    test_bams                   = null              // File (.csv) containing paths to bam files for the test matrix
    uxm_atlas                   = null              // Path to the uxm-like atlas

    // MetDecode parameters
    unknown_tissues             = null              // Number of unknown entities
    sum1                        = null              // If specified, it makes the sum of the proportions to 1
    no_coverage                 = null              // Disable CpG coverage factor
    supervised                  = null              // Disable the unsupervised refinment of the proportions

    // Bismark parameters
    single_end                  = false              // If true, bismark will run under 'single_end' option

    // Config options
    config_profile_name        = null
    config_profile_description = null
    monochrome_logs            = false
    help                       = false
    version                    = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '64.GB'
    max_cpus                   = 32
    max_time                   = '100.h'

    // Schema validation default options
    validationFailUnrecognisedParams = false
    validationLenientMode            = false
    validate_params                  = true

    // Institutional config options
    config_profile_name        = null
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Specify profiles settings
profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
        nextflow.enable.configProcessNamesValidation = true
    }
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions      = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.pullTimeout= '6h'
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    charliecloud {
        charliecloud.enabled   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        apptainer.enabled      = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 4
        executor.memory        = 8.GB
    }
    test { includeConfig 'conf/test.config' }
}

// Set default registry
apptainer.registry   = 'docker.io'
docker.registry      = 'docker.io'
singularity.registry = 'docker.io'
podman.registry      = 'quay.io'

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

plugins {
    id 'nf-schema@2.2.0'
}

// create reports
def trace_timestamp = new java.util.Date().format('yyyyMMdd-HHmmss')
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/${trace_timestamp}-report.html"
}
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/${trace_timestamp}-timeline.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'DecoNFlow'
    author          = """Edoardo Giuili"""
    homePage        = 'https://github.com/'
    description     = """DNA methylation computational deconvolution pipeline."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '2.1.0'
    doi             = ''
}

// Load modules.config for module specific options
includeConfig 'conf/modules.config'

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
