/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/methylseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

params {
    // Input options
    input                       = null      // reference samples .csv sheet
    containers_dir              = './containers'
    // Cluster options
    cpg_filter_number           = 30        // minimal number of CpG counts to keep the region (default = 30)
    // Genome options
    genome_version              = 'GRCh37'  // version of the genome used for the alignment of the samples (default = 'GRCh37)
    // Output options
    output_dir                  = null      // output directory
}