// Global default params, used in configs

params {
    // Input options
    input                       = null              // reference samples .csv sheet
    // References
    regions_file                = null              // file containing the regions to be used in the preprocessing step
    // Output options
    output_dir                  = null              // output directory
    // Preprocessing options
    min_counts                  = 10                // minimum number of counts for each CpG position
    min_cpgs                    = 3                 // minimum number of CpGs per region
    merging_approach            = 'intersect'       // alternative is 'union' (less stringent approach)
    chunk_size                  = 100               // Size of the chunks that are used to reduce the memory required
    ncores                      = null              // Number of cores to use when parallelizing
    // DMR analysis options
    adjp                        = 0.001             // Adjusted p-value threshold
    adj_method                  = 'BH'              // Multiple testing correction method (def. "BH") among the ones available in limma R package    
    collapse_method             = 'mean'            // How collapsing the samples values for each region
    direction                   = 'None'            // Direction of methylation: can be either "hypo","hyper","both" or "random" (def. "None", takes all the regions)
    top                         = 'None'            // Take the top x number (integer) of DMRs per cell state (def. "None"): it can be used only if direction flag is specified
    // Test preprocessing options
    test_samples                = null              // .csv file with the name of the samples to deconvolve and the path to the coverage files
    // EpiDISH parameters
    mod                         = 'RPC'             // EpiDISH deconvolution modality [RPC, CBS, CP_ineq, CP_eq]
    // MethylResolver parameters
    alpha                       = 0.5               // alpha parameter used by the model (can go from 0.5 to 0.9)
    // EpiSCORE parameters
    weight                      = 0.4               // weight parameter for deconvolution (can go from 0.05 to 0.9)
}