/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    // Input data
    input = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/ref_cov.csv"
    regions = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/RRBS_regions20-200_chr.chr1_100K.bed"
    test_set = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/bulk_samples_cov.csv"
    ref_bams = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/ref_bam.csv"
    test_bams = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/bulk_samples_bam.csv"
    groups_file = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/groups.csv"
    fasta = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/hg19.chr1_100K.fa"
    pipelines_testdata_base_path = 'https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/'
    DMRselection = 'limma'
    meth_atlas = true
    celfie = true
    min_cpgs = 0
    min_counts = 0
    bulk_min_cpgs = 0
    bulk_min_counts = 0
    adjp = 1
    delta = 0
    outdir              = 'results'
}

// Impose sensible resource limits for testing
process {
    resourceLimits = [
        cpus: 4,
        memory: '12.GB',
        time: '1.h'
    ]
}

process {
    //withName: 'BAM2PAT' {
        //containerOptions = "${workflow.containerEngine == 'docker' ? '--volume' : '--bind'} ${workflow.workDir}:/opt/wgbstools/references"
    //}
    //withName: 'SEGMENT' {
    //    containerOptions = "--volume ${INIT_GENOME.workDir}:/opt/wgbstools/references"
    //}
    //withName: 'BUILD' {
    //    containerOptions = "--volume /Users/edoardogiuili/Library/CloudStorage/OneDrive-UGent/Projects/Pipelines/DecoNFlow/test_folder/data/genome/genome:/opt/wgbstools/references"
    //}
}
