/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: RUN_DECONV {
        publishDir = [
            path: { "${params.outdir}/celfie" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: MERGE_TABLES {
        publishDir = [
            path: { "${params.outdir}/celfie" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: CIBERSORT {
        publishDir = [
            path: { "${params.outdir}/cibersort" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: COMBINE_FILES {
        publishDir = [
            path: { "${params.outdir}/final_outputs" },
            mode: 'copy'
        ]
    }

    withName: EPIDISH {
        publishDir = [
            path: { "${params.outdir}/epidish" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: EPISCORE {
        publishDir = [
            path: { "${params.outdir}/episcore" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: LIMMA {
        publishDir = [
            path: { "${params.outdir}/dmr_analysis" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: MEDECOM {
        publishDir = [
            path: { "${params.outdir}/medecom" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: METHYL_ATLAS {
        publishDir = [
            path: { "${params.outdir}/methyl_atlas" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: METHYL_RESOLVER {
        publishDir = [
            path: { "${params.outdir}/methyl_resolver" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: PREPROCESSING {
        publishDir = [
            path: { "${params.outdir}/preprocessing" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: PRMETH{
        publishDir = [
            path: { "${params.outdir}/prmeth" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: PRMETH_RF{
        publishDir = [
            path: { "${params.outdir}/prmeth_rf" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: REFREE_PREPROCESSING{
        publishDir = [
            path: { "${params.outdir}/refree_preprocessing" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: TEST_PREPROCESSING{
        publishDir = [
            path: { "${params.outdir}/test_preprocessing" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }
}