/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: RUN_DECONV {
        publishDir = [
            path: { "${params.outdir}/celfie" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: MERGE_TABLES {
        publishDir = [
            path: { "${params.outdir}/celfie" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: CIBERSORT {
        publishDir = [
            path: { "${params.outdir}/cibersort" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: COMBINE_FILES {
        publishDir = [
            path: { "${params.outdir}/deconvolution" },
            mode: 'copy'
        ]
    }

    withName: DSS_SELECTION {
        publishDir = [
            path: { "${params.outdir}/dmr_dss" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: EPIDISH {
        publishDir = [
            path: { "${params.outdir}/epidish" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: EPISCORE {
        publishDir = [
            path: { "${params.outdir}/episcore" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: LIMMA {
        publishDir = [
            path: { "${params.outdir}/dmr_limma" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: MEDECOM {
        publishDir = [
            path: { "${params.outdir}/medecom" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: METHYL_ATLAS {
        publishDir = [
            path: { "${params.outdir}/methyl_atlas" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: METHYL_RESOLVER {
        publishDir = [
            path: { "${params.outdir}/methyl_resolver" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: PREPROCESSING {
        publishDir = [
            path: { "${params.outdir}/preprocessing" },
            mode: 'copy',
            pattern: "*sample_mix.csv",
            enabled: params.save_intermeds
        ]
    }

    withName: PRMETH{
        publishDir = [
            path: { "${params.outdir}/prmeth" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: PRMETH_RF{
        publishDir = [
            path: { "${params.outdir}/prmeth_rf" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: MERGE_SAMPLES{
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing" },
                mode: 'copy',
                pattern: 'ref_based_matrix.csv',
                enabled: params.save_intermeds
            ],
            [
                path: { "${params.outdir}/refree_preprocessing" },
                mode: 'copy',
                pattern: 'ref_free_matrix.csv',
                enabled: params.save_intermeds
            ],
            [
                path: { "${params.outdir}/test_preprocessing" },
                mode: 'copy',
                pattern: 'test_matrix.csv',
                enabled: params.save_intermeds
            ]
        ]
    }

    withName: REFREE_PREPROCESSING{
        publishDir = [
            path: { "${params.outdir}/refree_preprocessing" },
            mode: 'copy',
            pattern: "*sample_mix.csv",
            enabled: params.save_intermeds
        ]
    }

    withName: TEST_PREPROCESSING{
        publishDir = [
            path: { "${params.outdir}/test_preprocessing" },
            mode: 'copy',
            pattern: "*mix.csv",
            enabled: params.save_intermeds
        ]
    }

    withName: UXM_DECONV{
        publishDir = [
            path: { "${params.outdir}/uxm/results" },
            mode: 'copy',
            pattern: "output.csv",
            enabled: params.save_intermeds
        ]
    }

    withName: BISMARK_METHYLATIONEXTRACTOR{
        publishDir = [
            path: { "${params.outdir}/wgbstools/coverage" },
            mode: 'copy',
            pattern: "*.cov",
            enabled: params.save_intermeds
        ]
    }

    withName: INIT_GENOME{
        publishDir = [
            path: { "${params.outdir}/wgbstools/references/" },
            mode: 'copy',
            pattern: "*",
            enabled: params.save_intermeds
        ]
    }

    withName: BAM2PAT{
        publishDir = [
            [
                path: { "${params.outdir}/wgbstools/bam2pat/pats" },
                mode: 'copy',
                pattern: "*.pat*",
                enabled: params.save_intermeds
            ], 
            [
                path: { "${params.outdir}/wgbstools/bam2pat/betas" },
                mode: 'copy',
                pattern: "*.beta*",
                enabled: params.save_intermeds
            ]
        ]
    }

    withName: SEGMENT{
        publishDir = [
            path: { "${params.outdir}/wgbstools/blocks" },
            mode: 'copy',
            pattern: "*.bed",
            enabled: params.save_intermeds
        ]
    }

    withName: BETA_TO_TABLE{
        publishDir = [
            path: { "${params.outdir}/wgbstools/blocks" },
            mode: 'copy',
            pattern: "*.tsv",
            enabled: params.save_intermeds
        ]
    }

    withName: FINDMARKERS{
        publishDir = [
            path: { "${params.outdir}/wgbstools/markers" },
            mode: 'copy',
            pattern: "*.bed",
            enabled: params.save_intermeds
        ]
    }

    withName: BUILD{
        publishDir = [
            path: { "${params.outdir}/wgbstools/atlas" },
            mode: 'copy',
            pattern: "*.tsv",
            enabled: params.save_intermeds
        ]
    }

    withName: CONVERT_ATLAS{
        publishDir = [
            path: { "${params.outdir}/converted_atlas" },
            mode: 'copy',
            pattern: "*",
            enabled: params.save_intermeds
        ]
    }

    withName: SELECT_REGIONS{
        publishDir = [
            path: { "${params.outdir}/wgbstools/regions" },
            mode: 'copy',
            pattern: "*.bed",
            enabled: params.save_intermeds
        ]
    }

    withName: METDECODE_DECONV {
        publishDir = [
            path: { "${params.outdir}/metdecode" },
            mode: 'copy',
            pattern: "*.csv",
            enabled: params.save_intermeds
        ]
    }
}