/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: RUN_DECONV {
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_based/celfie" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: MERGE_TABLES {
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_based/celfie" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: CIBERSORT {
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_based/cibersort" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: COMBINE_FILES {
        publishDir = [
            path: { "${params.outdir}/deconvolution_results" },
            mode: 'copy'
        ]
    }

    withName: DMRFINDER_COMBINE {
        publishDir = [
            path: { "${params.outdir}/preprocessing/DMRfinder" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: DMRFINDER_SELECTION {
        publishDir = [
            path: { "${params.outdir}/preprocessing/DMRfinder/DMRs" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: EPIDISH {
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_based/epidish" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: HOUSEMAN_EQ {
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_based/houseman_eq" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: HOUSEMAN_INEQ {
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_based/houseman_ineq" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: EPISCORE {
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_based/episcore" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: LIMMA {
        publishDir = [
            path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/limma" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: PREPROCESSING {
        publishDir = [
            path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/filtered_samples" },
            mode: 'copy',
            pattern: "*sample_mix.csv",
            enabled: params.save_intermeds
        ]
    }

    withName: CELFIE_PREPROCESSING {
        publishDir = [
            path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/filtered_samples" },
            mode: 'copy',
            pattern: "*sample_celfie_mix.csv",
            enabled: params.save_intermeds
        ]
    }

    withName: MEDECOM {
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_free/medecom" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: METH_ATLAS {
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_based/meth_atlas" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: METHYL_RESOLVER {
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_based/methyl_resolver" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: PRMETH{
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_based/prmeth" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: REF_FREECELL_MIX{
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_free/RefFreeCellMix" },
            mode: 'copy',
            enabled: params.save_intermeds
        ]
    }

    withName: MERGE_SAMPLES{
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/filtered_samples" },
                mode: 'copy',
                pattern: '*atlas*.csv',
                enabled: params.save_intermeds
            ],
            [
                path: { "${params.outdir}/preprocessing/refree_samples_preprocessing" },
                mode: 'copy',
                pattern: 'test_matrix.csv',
                enabled: params.save_intermeds & (params.medecom || params.ref_freecell_mix)
            ],
            [
                path: { "${params.outdir}/preprocessing/bulk_samples_preprocessing" },
                mode: 'copy',
                pattern: 'test*.csv',
                enabled: params.save_intermeds
            ]
        ]
    }

    withName: REFREE_PREPROCESSING{
        publishDir = [
            path: { "${params.outdir}/preprocessing/refree_samples_preprocessing" },
            mode: 'copy',
            pattern: "*sample_mix.csv",
            enabled: params.save_intermeds
        ]
    }

    withName: TEST_PREPROCESSING{
        publishDir = [
            path: { "${params.outdir}/preprocessing/bulk_samples_preprocessing" },
            mode: 'copy',
            pattern: "*mix.csv",
            enabled: params.save_intermeds
        ]
    }

    withName: UXM_DECONV{
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_based/uxm" },
            mode: 'copy',
            pattern: "output.csv",
            enabled: params.save_intermeds
        ]
    }

    withName: BISMARK_METHYLATIONEXTRACTOR{
        publishDir = [
            path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/wgbstools/coverage" },
            mode: 'copy',
            pattern: "*.cov",
            enabled: params.save_intermeds
        ]
    }

    withName: BAM2PAT{
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/wgbstools/bam2pat/pats" },
                mode: 'copy',
                pattern: "*.pat*",
                enabled: params.save_intermeds
            ],
            [
                path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/wgbstools/bam2pat/betas" },
                mode: 'copy',
                pattern: "*.beta*",
                enabled: params.save_intermeds
            ]
        ]
    }

    withName: SEGMENT{
        publishDir = [
            path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/wgbstools/blocks" },
            mode: 'copy',
            pattern: "*.bed",
            enabled: params.save_intermeds
        ]
    }

    withName: BETA_TO_TABLE{
        publishDir = [
            path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/wgbstools/blocks" },
            mode: 'copy',
            pattern: "*.tsv",
            enabled: params.save_intermeds
        ]
    }

    withName: FINDMARKERS{
        publishDir = [
            path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/wgbstools/markers" },
            mode: 'copy',
            pattern: "*.bed",
            enabled: params.save_intermeds
        ]
    }

    withName: BUILD{
        publishDir = [
            path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/wgbstools/atlas" },
            mode: 'copy',
            pattern: "*.tsv",
            enabled: params.save_intermeds
        ]
    }

    withName: CONVERT_ATLAS{
        publishDir = [
            path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/wgbstools/converted_atlas" },
            mode: 'copy',
            pattern: "*",
            enabled: params.save_intermeds
        ]
    }

    withName: INIT_GENOME{
        publishDir = [
            path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/wgbstools/genome" },
            mode: 'copy',
            pattern: "*",
            enabled: params.save_intermeds
        ]
    }

    withName: SELECT_REGIONS{
        publishDir = [
            path: { "${params.outdir}/preprocessing/reference_samples_preprocessing/wgbstools/regions" },
            mode: 'copy',
            pattern: "*.bed",
            enabled: params.save_intermeds
        ]
    }

    withName: METDECODE_DECONV {
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_based/metdecode" },
            mode: 'copy',
            pattern: "*.csv",
            enabled: params.save_intermeds
        ]
    }

    withName: INTERSECT {
        publishDir = [
            path: { "${params.outdir}/deconvolution_results/reference_based/metdecode" },
            mode: 'copy',
            pattern: "*.csv",
            enabled: params.save_intermeds
        ]
    }
}
