/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test,<docker/singularity> --outdir <OUTDIR>
 */

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = 10.GB
    max_time   = 6.h

    // Input data
    input = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/ref_cov.csv"
    regions = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/RRBS_regions20-200_hg19_chr1_1M.bed"
    test_set = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/bulk_samples_cov.csv"
    ref_bams = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/ref_bam.csv"
    test_bams = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/bulk_samples_bam.csv"
    groups_file = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/groups.csv"
    fasta = "https://github.com/VIBTOBIlab/deconflow_testdata/raw/main/resources/hg19_chr1_1M.fa"
    DMRselection = 'limma'
    dmrfinder_pvalue            = 1
    dmrfinder_qvalue            = 1
    meth_atlas = true
    min_cpgs = 1
    min_counts = 1
    bulk_min_cpgs = 0
    bulk_min_counts = 0
    adjp = 1
    delta = 0
}
