/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test,<docker/singularity> --outdir <OUTDIR>
 */

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input            = params.pipelines_testdata_base_path + '/resources/ref_cov.csv'
    regions          = params.pipelines_testdata_base_path + '/resources/RRBS_regions20-200_hg19_chr1_1M.bed'
    test_set         = params.pipelines_testdata_base_path + '/resources/bulk_samples_cov.csv'
    ref_bams         = params.pipelines_testdata_base_path + '/resources/ref_bam.csv'
    test_bams        = params.pipelines_testdata_base_path + '/resources/bulk_samples_bam.csv'
    groups_file      = params.pipelines_testdata_base_path + '/resources/groups.csv'
    fasta            = params.pipelines_testdata_base_path + '/resources/hg19_chr1_1M.fa'
    DMRselection     = 'limma'
    meth_atlas       = true
    min_cpgs         = 0
    min_counts       = 0
    bulk_min_cpgs    = 0
    bulk_min_counts  = 0
    adjp             = 1
}

// Impose sensible resource limits for testing
process {
    resourceLimits = [
        cpus: 4,
        memory: '8.GB',
        time: '1.h'
    ]
}
